[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/fluidsynth"]
	path = lib/fluidsynth
	url = https://github.com/mikelow/fluidsynth.git
	branch = sansglib
[submodule "lib/ymfm"]
	path = lib/ymfm
	url = https://github.com/aaronsgiles/ymfm.git
