[submodule "lib/JUCE"]
	path = lib/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "lib/fluidsynth"]
	path = lib/fluidsynth
	url = https://github.com/mikelow/fluidsynth.git
	branch = sansglib
